.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 30vw;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.contact-form input[type="submit"] {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}
